*,
*::before,
*::after{
  box-sizing: border-box;
}

.light{
  background-color: white;
  color: #000;
}

.dark{
  background-color: black;
  color:white;
}

.home{
  margin: 0%;
  padding: 0%;
  width: 100vw;
  height: 96vh;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.form{
  font-size: 20px;
  padding-top: 300px;
  width: 30%;
  height: 30%;
  margin:auto;
}

.navbar{
  font-size: 20px;
}

.navElement{
  text-decoration: none;
  color: #000;
  padding: 5px;
  display: inline-block;
}
.navElement:hover{
  border: 1px solid black;
  border-radius: 40%;
  background-color: rgba(161, 230, 233, 0.4);
  color: blue;
}

.timeline, .profile{
  float: left;
  margin-left: 10%;
}

.tweet{
  border: 1px solid black;
}

.hide{
  visibility: hidden;
}
